* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 100px;
}

main,
footer {
  padding: 20px;
}

nav {
  position: fixed;
  top: 0;
  background-color: hsl(227, 100%, 12%);
  height: 50px;
  width: 100%;
}

nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  color: hsl(0, 0%, 98%);
  /* border: 1px solid hsl(260, 94%, 86%); */
  height: 50px;
  width: 100px;
  vertical-align: middle;
  line-height: 50px;
}

nav a:hover {
  text-shadow: 1px 1px hsl(240, 100%, 74%);
  background-color: hsl(240, 100%, 25%);
}

header,
h1,
.doc-section {
  margin-bottom: 50px;
  padding-top: 50px;
}

header {
  margin-bottom: 50px;
}

h1 {
  font-size: 3rem;
}
